<!TYPE html>
<html>
    <head>
        <link href = "style.css" rel = "stylesheet">
		<meta http-equiv = "Content-Type" content = "text/html"; charset = "UTF-8">
		<title>BBC</title>
		<script defer src = "myscript.js"></script>
    </head>
	<body>
        <center>
            <div>
                Log In
                </hr>
                <h2><%= message %></h2>
                <form action="/login" method="POST">
                    <input placeholder="Name" name="user_name"/>
                    <input placeholder="Password" name="user_password"/>
                    <button>Submit</button>
                    <input type="hidden" name="ip" id="myip"/>
                </form>
            </div>
        </center>
    </body>
</html>