<!TYPE html>
<html>
	<head>
		<link href = "../../style.css" rel = "stylesheet">
		<meta http-equiv = "Content-Type" content = "text/html"; charset = "UTF-8">
		<title>BBC</title>
		<script defer src = "../../script-item.js"></script>
	</head>
	
	<body class = "main-body">
		

		<!-- Для всей головы -->
		<div class = "header">

			<!-- Линия наверху -->
			<div class = "header-line"></div> 

			<!-- Мой блок для головы -->
			<div class = "myinline-block">		

				<!-- Кнопка навигации -->
				<div class = "navigation">
					<button data-modal-target = "#modal" id = "settings"></button>
					<div class = "modal" id = "modal">
						<div class = "modal-header">
							<div class = "title">Категории</div>
							<button data-close-button class = "close-button">&times;</button>
						</div>
						<div class = "modal-body" onclick="window.location='/create_item';">
							Добавить предмет
						</div>
						
						<% for (var category of categories) { %>
						<div class = "modal-body" onclick="window.location='/categories/<%= category.CATEGORY_NAME %>';"><%= category.CATEGORY_NAME %></div>
						<% } %>

						
						
					</div>
					<div id = "overlay"></div>
				</div>

				<!-- Логотип -->
				<img src = "../../images/logo.png" id = "logo"></img>

				<!-- Поисковик -->
				<img src = "../../images/lupa.png" id = "lupa"></img>

				
			</div>

			
		</div>

		<!-- Тело сайта -->
		<div class = "my-body">
            
            <div class = "my-item-page">
                
                <div id = "my-item-images-page">

                    <div id = "my-item-base-image-page">
                        <img id = "my-item-base-image" src="../../images/<%= images[0].IMAGE_NAME %>.jpg">
                    </div>
                    
                    
                    <div id = "my-item-second-images" >
                        <% for (var i = 0; i < images.length; i++) { %>
                            <img id = "my-second-image" onclick="myFunction(this);" src="../../images/<%= images[i].IMAGE_NAME %>.jpg">
                        <% } %>
                    </div>

                    
                </div>

                <div id = "my-item-description-page">
                    HJEY
                </div>

            </div>

        </div>
        
	</body>
</html>

