<html>

<head></head>
<title name = "title">ПРИВЕТ</title>
<link rel="stylesheet" type="text.css" href="/css/bootstrap.min.css">

<body>
    <div class="container"></div>
    <center>
        <div class="well"><b>Users Details</b></div>
    </center>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th> 
                <th>Password</th>
                <th>Role</th>
            </tr>
            <% for (var item of items) { %>
            <tr>
                <th><%= item.USER_ID %></th>
                <th><%= item.USER_NAME %></th>
                <th><%= item.USER_PASSWORD %></th>
                <th><%= item.USER_ROLE %></th>
            </tr>
            <% } %>
        </thead>
    </table>
</body>

</html>