.main-body {
	background: #f7aaa4 url(images/texture.png);
	background-attachment: fixed;
}

div.header {
	width: 1000px; 
	height: 92px;
	margin: 0px auto 0px auto;
}

div.my-body {
	padding-top: 25px;
	position: relative;
	width: 1000px; 
	height: 100%;
	background: #FFFFFF;
	margin: 0px auto 0px auto;
}

.myinline-block {
	height: 100px;
}

#logo {
	float: left;
}

/* Add a black background color to the top navigation bar */
.topnav {
	overflow: hidden;
	width: fit-content;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

  /* Style the search box inside the navigation bar */
.topnav input[type=text] {
	width: 350px;
	border-radius: 10px;
	padding: 11px;
	border: none;
	font-size: 17px;
	margin-top: 20px;
	margin-left: 20px;
}

.topnav .search-container {
	float: right;
	height: 100px;
}

.topnav .search-container button {
	border-radius: 10px;
	float: right;
	padding: 21px 21px;
	margin-top: 20px;
	background-color: #ddd;
	background-image: url(../../images/lupa.png);
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
.topnav .search-container button:hover {
	background: #f7aaa4;
	background-image: url(../../images/lupa.png);
}

.for-items {
	padding-left: 25px;
	max-width: 980px;
}

.my-item {
	position: relative;
	width: 232px;
	height: 414px;
	border: 1px solid #f7aaa4;
	float:left;
	margin-left: 25px;
	margin-top: 25px;
}

#item-padding {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	font-family: 'Arial';
	font-size: 18px;
}

#item-image {
	width: 192px;
	height: 256px;
}

#item-description {
	margin-top: 10px;
}

#item-price {
	color: rgb(244, 74, 74);
	font-size: 22px;
}

#item-articul {
	font-size: 14px;
	color: #777;
	margin-bottom: 50px;
}

.tab {
	width: fit-content;
	overflow: hidden;
	margin-bottom: 50px;
}

.tab button {
	max-width: 100px;
	margin-left: 5px;
	border-radius: 5px;
	background-color: #f1f1f1;
	float: left;
	border: 1px solid #f1f1f1;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	border: 1px solid #f7aaa4;
	background-color: #ccc;
}

.tab2 {
	width: fit-content;
	overflow: hidden;
	margin-bottom: 50px;
}

.tab2 button {
	max-width: 100px;
	margin-left: 5px;
	border-radius: 5px;
	background-color: #f1f1f1;
	float: left;
	border: 1px solid #f1f1f1;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tab2 button:hover {
	background-color: #ddd;
}

.tab2 button.active {
	border: 1px solid #f7aaa4;
	background-color: #ccc;
}

#tab-border {
	margin-bottom: 10px;
	font-size: 20px;
	font-style: oblique;
}


.my-item-page {
	width: 1000px;
	height: 800px;
	max-width: 1000px;
	max-height: 800px;
}

#my-item-images-page {
	float: left;
	width: 530px;
	height: 590px;
	max-height: 590px;
	max-width: 530px;
	border-bottom: 1px solid #f0eef3;
}

#my-item-base-image-page {
	position: relative;
	max-width: 530px;
	height: 475px;
	border-bottom: 1px solid #f0eef3;
}

#my-item-base-image {
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	position: relative;
	max-width: 480px;
	max-height: 425px;
	border: 1px solid #000000;
}

#my-item-second-images {
	display: table;
	margin: auto;
	max-width: 530px;
	max-height: 110px;
}

#my-second-image {
	float: left;
	display: table-cell;
	max-width: 110px;
	max-height: 110px;
	border: 1px solid #f0eef3;
}

#my-item-description-page {
	float: right;
	width: 469px;
	height: 590px;
	max-height: 590px;
	border-left: 1px solid #f0eef3;
	border-bottom: 1px solid #f0eef3;
}

#my-item-description-page-inside {
	padding-left: 50px;
}

#settings {
	background-image: url(images/settings.png);
	height: 60px;
	width: 60px;
	transform: scale(0.7);
	left: 10px;
	top: 10px;
	position: absolute;
	border: none;
}

.navigation {
	position: relative;
	width: 75px;
	height: 77px;
	float: left;
}

.header-line {
	position: fixed;
	background-image: url(images/head.png);
	background-repeat:no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
	height: 100px;
	z-index: -1;
}

.modal {
	position: relative;
	border: 1px solid #f7aaa4;
	z-index: 10;
	background-color: white;
	width: 270px;
	transform: scale(0);
	transition: 200ms easa-in-out;
}

.modal.active {
	transform: scale(1);
	background-color: white;
}

.modal-header {
	padding: 10px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f7aaa4;
}

.modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-header .close-button {
	cursor: pointer;
	border: 1px solid #f7aaa4;
	outline: none;
	background-color: #ecaeae;
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body {
	padding: 10px 10px;
}

.modal-body:hover {
	background-color: #f7aaa4;
	padding: 10px 10px;
	cursor: pointer;
}

#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
	transition: 200ms easa-in-out;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

/* Slideshow container */
.slideshow-container {
  max-width: 950px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(202, 167, 167);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #b17679;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}